[submodule "depthai-core"]
	path = depthai-core
	url = git@github.com:mehmetkillioglu/depthai-core.git
[submodule "depthai_core"]
	path = depthai_core
	url = git@github.com:mehmetkillioglu/depthai-core.git
